*{
    margin: 0;
    padding: 0;
}


.navbar{
padding: 20px;
margin-right: 30px;
}


.asd{
    background-color: #e2dfdfb4;
    padding: 2.7rem;
}

.asd a{
    color:#000000!important ;
    font-weight: bold;
}

.zxc{
    margin-top: 2rem;
    text-align: end;
}
.nav{
    margin-top: 20px;
}

.nav-items a{
    color:#000000 ;
    font-size: 18px;
}

.col-md-8 img{
    width:100%;
}

span{
    color:rgb(166, 162, 162);
}

.menu-image img {
    margin-top: 1rem;
    margin-left: 1rem;
    height: 50px;
}

.menu-image p{
    margin-top: 0.7rem;
    margin-left: 1rem;
}

.footer-li{
    color:#959595;
    list-style-type: none;
}

.footer-ul h3{
    color:#a2a2a2;
}

.footer-ul h6 {
    color:#afafaf;
}

.footer-2iki{
    margin-top: 8px;
    color:#959595;
}

.footer-ul a{
    color:#959595;
}

.footer-h3{
    padding-right: 3rem;
}

.footer-p{
    color:#aaaaaa;  
}

.footer-piki{
    color: #ffffff85;
}

.jkl{
    margin-top: 15px;
    padding-right: 15px;
}

.btn{
    background-color: #89898985;;
    color: #ffffff;
    padding: 0.200rem 0.10rem !important;
}

.footer-son-icon{
    color: #959595;
}

.footer-p-son{
    color:#aaaaaa;  
    padding-bottom: 15px;
  
}